.text-card__container {
    display: inline-block;
    width: 14%;
    padding: 20px 10px;
    margin: 20px 15px;
    text-align: center;
    border-radius: 5px;
}

.text-card__title {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}