
/* Containers */

.contact__column--container {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 0 5%;
}

.contact__link-image--container {
    display: block;
    height: 100px;
}

/* Links/Text */

.contact__link, .contact__text {
    display: inline-block;
    margin: 20px 0px;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 18px;
}

.contact__link {
    color: var(--theme_blue);
}

/* Images */

.contact__image, .contact__image-text {
    display: inline-block;
    margin: 20px 15px 20px 0px;
    vertical-align: middle;
}

.contact__image {
    width: 40px;
}

.contact__image-text {
    width: 25px;
    font-size: 26px;
    font-weight: bold;
}