.header__container {
    padding: 50px 80px 0px 80px;
    text-align: center;
}

.header__title {
    margin: 0px;
}

.header__subtitle {
    margin: 10px 0px 20px 0px;
}

.header__underline {
    width: 75%;
}