.image-card__container {
    display: inline-block;
    width: 30%;
    height: 450px;
    margin: 0px 20px;
    vertical-align: top;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.image-card__container--details {
    padding: 20px;
    box-sizing: border-box;
}

.image-card__image {
    width: 100%;
    height: 37%;
    object-fit: cover;
    object-position: top;
}

.image-card__title {
    margin: 0px;
}

.image-card__description {
    text-align: justify;
}