.link-card__container {
    display: inline-block;
    width: 13%;
    padding: 15px 20px;
    margin: 0px 20px;
    text-align: left;
    border-radius: 5px;
}

.link-card__image {
    display: inline-block;
    width: 50px;
    margin-right: 20px;
    vertical-align: middle;
}

.link-card__title {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}